
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container{display: flex;}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background-color: aliceblue;
  color: darkgrey;
  height: calc(  100vh - 20px) ;
  width: 150px;
  border-radius: 10px;
  margin: 10px ;
  transition: all .7s;
}
.topSection{
  display: flex;
  align-items: center;
  padding: 20px 15px;
  cursor: pointer;
}

.logo{font-size: x-large;}
.bars{
  font-size: x-large;
  margin-left: 20px;
}

.links{
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  align-items: center;
  transition: all 0.5s;
}

.links:hover{
  background-color: whitesmoke;
  color: black;
}
.active{
  background-color: whitesmoke;
  color: black;
}

.icon{
  font-size: 15px;
  
}
 .link_text{
  font-size: 15px;
}
.navItems{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: calc(100% - 75px);
}

.settings{
 display: none;
}