.cardsection{display: flex;
    gap:20px;
    width: 100%;

    


}

.dashbaordCard{display: flex;
    flex-grow: calc(1);
    color: whitesmoke;
    padding: 20px;
    background-color: #2d2f30;
    border-radius: 10px;
    height: 130px;
    transition: all 0.5;
    justify-content: space-between;

}
.dashbaordCardTitle{
    font-size: 11px;
    text-transform: uppercase;
    color: darkgrey;
    font-weight: bold;
}
.dashbaordCardNumber{
    font-size: 25px;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
}
.dashStateSection{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 13px;
}
.dashCardleft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashStateSectionPercent{
    display: flex;
    align-items: center;
    gap: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    
}
.dashStateSectionPercent>p{
    font-size: 12px;
}

.dashCardRight{
    display: flex;
    justify-content: right;
    align-items: center;
}
.dasboardBody{display: flex;
    height: 100%;
    margin-top: 20px;
    gap: 20px;
}
.dasboardBodyCard{
    flex-grow: 1;
    background-color: #2d2f30;
    max-height: 700px;
    border-radius: 15px;
   
}
.dasboardBodyLeft{
    flex:2
}
.dasboardBodyRight{
    flex: 3;
}