.templateBody{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #24252a;
    border-radius: 10px;
}