.templateBody{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
   overflow-y: hidden;
    overflow-x: hidden;
    background-color: #24252a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.pageTitle{
font-size: 28px;
color: rgba(245, 245, 245, 0.501);
text-transform: capitalize;
font-weight: 500;
letter-spacing: 0.05em;
}
hr.rounded {
    border-top: 4px solid #1e1f2a;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
.pageButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 150px;
    color: whitesmoke;
    background: #2b66ff;
    border-radius: 5px;
    padding: 10px;
}

.pageButtonIcon{
    height: 20px;
    width: 20px;
}
.headSection{
    width: 100%;
    height: 30px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
th{
font-size: 30;
font-weight: 200;
text-transform: uppercase;
text-align: left;
color: whitesmoke;
height: 70px;
background-color: #323436;
}

 td {
    padding: 15px;
    text-align: left;
    background: transparent left center no-repeat;
 
    
  }

  tr{
    color: darkgrey;
    transition: all 6.5;}

  

  th{
    position: sticky;
    top: 0;
    padding: 15px;
    text-align: left;

  }

  .usersData>img{
    line-height: 20px;
    background: url('') left center no-repeat;
    height: 30px;
    width: 30px;

  }
  .usersData{
    display: flex;
    gap: 10px;
    align-items: center;
  }

.dataTable{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
   
    
}

.tableScrole{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #2d2f30;
    height: 100%; overflow:scroll;
    flex-grow: 1;
    max-height: 750px;
    
}
tr:hover {
    background-color: #2d2f30;
    color: whitesmoke;
  
  
  
  };

.tdNameSec{
   display: inline;
}


/* sm */
@media (min-width: 640px) {
    .sm\:my-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
/* md */
@media (min-width: 768px) {
    .md\:my-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
/* lg */
@media (min-width: 1024px) {
    .lg\:my-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
/* xl */
@media (min-width: 1280px) {
    .xl\:rounded-lg {
        border-radius: 0.5rem/* 8px */;
    }
}

